@import './colors.scss';

:export {
  color_white: $color_white;
  color_gray: $color_gray;
  color_footer_bg: $color_footer_bg;
  color_title: $color_title;
  color_subtitle: $color_subtitle;
  color_table_background: $color_table_background;
  color_table_background_dark: $color_table_background_dark;
}