@import './colors.scss', './mixins.scss', './constants.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titleSection {
  padding: $common_padding_verti $common_padding_horiz;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @include responsive('min-height', 300px, 240px, 180px);

  & > * {
    text-align: center;
  }

  &_title {
    margin-bottom: 12px;
    color: $color_title;
    @include responsive('font-size', 42px, 36px, 24px);
  } 

  &_subtitle {
    margin-top: 0;
    color: $color_subtitle;
    @include responsive('font-size', 24px, 18px, 16px);
  }
}

.filterSection {
  padding: $common_padding_verti $common_padding_horiz;
}

.tableSection {
  padding: $common_padding_verti $common_padding_horiz;
}