@import '../../../styles/colors.scss'; 

.container {
  width: 100%;
  padding: 12px 0px;
}

.tableHead {
  tr {
    width: 100%;
    color: #9E9A94;

    th {
      padding: 20px 6px;
      text-align: left;
    }
  }
}

.tableBody {
  tr {
    width: 100%;
    color: #7C7C72;
  
    &:nth-child(odd) {
      background-color: $color_table_background_dark;
    }
    &:nth-child(even) {
      background-color: $color_table_background;
    }
  
    td {
      padding: 12px 6px;
    } 
  }
}