// @TODO: Implement base styles path
@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/constants.scss';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $app_max_width;
  padding-bottom: 60px;
}

.titleSection {
  padding: $app_padding_verti $app_padding_horiz;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @include responsive('min-height', 240px, 200px, 160px);

  & > * {
    text-align: center;
  }

  // @TODO: Refractor shared typography styles
  &_title {
    margin-bottom: 12px;
    color: $color_title;
    @include responsive('font-size', 42px, 36px, 24px);
  } 

  &_subtitle {
    margin-top: 0;
    color: $color_subtitle;
    @include responsive('font-size', 24px, 18px, 16px);
  }
}

.filterSection {
  padding: $app_padding_verti $app_padding_horiz;
}

.tableSection {
  width: 100%;
  padding: $app_padding_verti 0px;
}