@import '../../../styles/colors.scss';

.select {
  width: 200px;
}

:export {
  color_footer_bg: $color_footer_bg;
  color_title: $color_title;
  color_subtitle: $color_subtitle;
  color_table_background: $color_table_background;
  color_table_background_dark: $color_table_background_dark;
}